/* Styles */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');

/* Font Styles
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
*/

.container {
  display: flex;
  width: 450px;
  flex-direction: column;
  margin-top: 25%;
}

.section {
  display: flex;
  width: 100%;
  padding: 10px 0 10px 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.red {
  width: 95%;
}

.taskInput {
  width: 85%;
  background-color: #63C5AE;
  color: white;
  border: none;
  padding: 8px 0 8px 8px;
  height: 20px;
  font-family: 'Merriweather', serif;

  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.taskSubmit {
  width: 15%;
  border: none;
  background-color: white;
  color: #63C5AE;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.taskSubmit:hover {
  cursor: pointer;
  background-color: #2AB99C;
  border: 2px solid white;
  color: white;
  
}

.flex-end {
  justify-content: flex-end;
}

.header {
  background-color: #2AB99C;
  
}

::placeholder {
  color: white;
  opacity: .70;
}

.body {
  background-color: #E5E9EA;
  min-height: 300px;
}

.footer {
  background-color: #2AB99C;
}

.btn {
  border: solid 2px #2AB99C;
  background-color: transparent;
  color: #fff;
  height: 30px;
  
}

.btn:first-child {
  margin: 0;
}

.btn:last-child {
  margin: 0;
}

.around {
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.btn, .clear-btn, .tally {
  font-family: 'Raleway', sans-serif;
  font-size: .85em;
} 

.btn:hover {
  cursor: pointer;
  background-color: #63C5AE;
}

/* Figure out how to give styles to the same too classes. */
.currentFilter {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  height: 30px;
}

.currentFilter:hover {
  cursor: pointer;
  background-color: #63C5AE;
}

.clear-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  height: 30px;
}

.clear-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clear-hide {
  visibility: hidden;
}

.vert-center {
  align-items: center;
}

.tally {
  color: #fff;
}

.taskItem {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.taskItem:first-child {
  margin-bottom: 5px;
  margin-top: 0;
}

.taskItem:last-child {
  margin-bottom: 0;
  margin-top: 5px;
}

.taskItem:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.taskBtn {
  background-color: transparent;
  color: #2AB99C;
  border: none;
  height: 30px;
  padding-left: 8px;
  padding-right: 0;
  cursor: pointer;
  font-size: 1.2em;
}

.deleteBtn {
  cursor: pointer;
  background-color: transparent;
  color: #2C2A3C;
  border: none;
  height: 30px;
  padding-left: 8px;
  padding-right: 10px;
  font-size: 1em;
}

.deleteBtn:hover {
  color: #696969;
}

body {
  background-color: #2C2A3C;
  display: flex;
  justify-content: center;
}
/* Body Background: #E5E9EA */

.activeDesc, .completedDesc {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

.completedDesc {
  
  color: #A4A4A4;
  text-decoration: line-through;
}

.revealBtn {
  visibility: visible;
  cursor: pointer;
  background-color: transparent;
  color: #2C2A3C;
  border: none;
  height: 30px;
  padding-left: 8px;
  padding-right: 10px;
  font-size: 1em;
}

.hideBtn {
  visibility: hidden;
  cursor: pointer;
  background-color: transparent;
  color: #2C2A3C;
  border: none;
  height: 30px;
  padding-left: 8px;
  padding-right: 10px;
  font-size: 1em;
}

.align-end {
  align-self: flex-end;
}